*{
   padding: 0;
   margin: 0;
   font-family: 'Robik', sans-serif;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;

}
:root{
   --big-color: #1f1f21;
   --second-color: #323946;
   --text-color: #fff;
   --main-color: #ffea00;
   --big-font: 7rem;
   --font-h2: 4rem;
   --p-font: 1.1rem;
}

section {
   min-height: 100vh;
   padding: 10rem 9% 2rem;
 }
body{
   background-color: var(--big-color);
   color: var(--text-color);
   overflow-x: hidden;
}
header{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 32px 15%;
   background: #1f1f22;
   transition: all ease .45s;
}
.logo{
   color: var(--text-color);
   font-size: 40px;
   font-weight: 600;
}
.logo span{
   color: var(--main-color);
}
.navbar{
   display: flex;
}
.navbar a{
   font-size: var(--p-font);
   font-weight: 500;
   color: var(--text-color);
   margin: 0 25px;
   transition: all ease .45s;
}
.navbar a:hover{
   color: var(--main-color);
}
.menu-btn{
   background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
   box-shadow: 0px 20px 40px #00000070;
   border: 1px solid #3b3b3b;
   padding: 10px 20px;
   border-radius: 100px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
#menu-icon{
   font-size: 25px;
   margin-left: 10px;
   z-index: 6;
}
.home{
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}
.home-img{
   width: 500px;
   height: 500px;
   overflow: none;
  
}
.home-img img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: contain;
   border: none;
   padding: 3px;
   box-shadow: 1px 2px var(--main-color);
}
.home-text span{
   padding: 5px 25px;
   background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
   box-shadow: 0px 20px 40px #00000070;
   border: 1px solid #3b3b3b;
   border-radius: 100px;
   color: var(--text-color);
   font-weight: 700;
   font-size: 15px;
   text-transform: uppercase;

}
.home-text h1{
   font-size: var(--big-font);
   margin: 0 23px;
}
.home-text p{
   font-size: var(--p-font);
   font-weight: 400;
   color: #c3c3c3;
   line-height: 30px;
   margin-bottom: 30px;
}


.btn{
   display: inline-block;
   padding: 14px 35px;
   background-color: var(--main-color);
   color: var(--text-color);
   border: 2px solid var(--main-color);
   font-size: 16px;
   font-weight: 600;
   border-radius: 8px;
   transition: all 0.6s ease-in-out;
}
.btn:hover{
   transform: translateY(-5px);
   background-color: transparent;
   color: var(--text-color); 

}
.two{
   background: #141414;
   border: 2px solid #141414;
   color: var(--text-color);
   margin-left: 25px;
}
.two:hover{
   background: var(--text-color);
   border: 2px solid var(--text-color);
   color: #141414;
}
.share{
   position: absolute;
   bottom: 3rem;
   left: 15%;
   display: flex;
   align-items: center;
}
.share p{
   font-size: 17px;
   color: var(--text-color);
   margin-right: 20px;
}
.social i{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
   box-shadow: 0px 20px 40px #00000070;
   border: 1px solid #3b3b3b;
   border-radius: 50%;
   color: var(--text-color);
   margin: 0 7px;
   font-size: 20px;
   transition: all 0.6s ease-in-out;
}
.social i:hover{
   transform: translateY(-10px);
}
.about-img{
   position: relative;
   overflow: none;
   box-shadow: 0 0 1rem var(--bg-color);
   display: flex;
}
.about-img img{
   width: 100%;
   height: 100%;
   border-radius: 10%; 
   border: 1px solid;
   padding: 5px;
   box-shadow: 5px 5px #888888;
}
.about{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;

   background-color: var(--second-color);
   }
   .about-img .about-content {
      position: absolute;
      background: linear-gradient(rgba(0,0,0, .1),var(--main-color));
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0 4rem;
     
    }
   .about-content p{
      font-size: 2.3rem;
      margin: 2rem 0 3rem;
    }
    .heading h2{
      text-align: center;
      font-size: 4rem; 
    }
    .heading span{
      text-align: center;
      font-size: 4.5rem;
      color: var(--main-color);
     
    }
    .about-content{
      text-align: left;
      line-height: 1.2;
    }
     .one{
         display: inline-block;
         padding: 1rem 2.8rem;
         background: transparent;
         color: var(--main-color);
         border-radius: 4rem;
         box-shadow: 0 0 1rem var(--main-color);
         letter-spacing: .1rem;
         font-weight: 600;
         transition: .5s ease;
         margin-left: 20rem;
       }
       .service-text{
         padding-left: 39rem;
         margin: 3rem 0;
         font-size: var(--font-h2)
        
        }
      
        .services-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 2rem;
        }
        .services-container .services-box{
          flex: 1 1 30rem;
          background: var(--second-bg-color);
          padding: 3rem 2rem 4rem;
          border-radius: 2rem;
          text-align: center;
          border: .2rem solid var(--big-color);
          transition: all 2s ease-in-out;
        }
        .services-container .services-box:hover{
         transform: translateY(-5px);
         border: .2rem solid var(--main-color);
         color: var(--text-color); 
        }
        .services-box i{
          font-size: 7rem;
          color: var(--main-color);
        }
        .services-box h3 {
          font-size: 2.6rem;
        }
        .services-box p {
          font-size: 1.6rem;
          margin: 1rem 0 3rem;
        }
        .portfolio{
         background-color: var(--second-color);
       }
       .portfolio h2 {
         margin-bottom: 4rem;
       }
       .portfolio-container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         align-items: center;
         gap: 2.5rem;
       }
       .portfolio-container .portfolio-box {
         position: relative;
         border-radius: 2rem;
         box-shadow: 0 0 1rem var(--bg-color);
         overflow: hidden;
         display: flex;
       }
       .portfolio-box img {
         height: auto;
         width: 100%;
         border-radius: 28px;
         margin-bottom: 1.4rem;
         transition: .5s ease;

       }
       .portfolio-box:hover img {
         transform: scale(1.1);
       }
       .portfolio-box .portfolio-layer {
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(rgba(0,0,0, .1),var(--main-color));
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         text-align: center;
         padding: 0 4rem;
         transform: translateY(100%);
         transition: .5s ease;
       }
       .portfolio-box:hover .portfolio-layer {
         transform: translateY(0);
       }
       .portfolio-layer h4 {
         font-size: 3rem;
       }
       .portfolio-layer p {
         font-size: 1.5rem;
         margin: .3rem 0 1rem;
       }
       .portfolio-layer a {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         width: 5rem;
         height: 5rem;
         background: var(--text-color);
         border-radius: 50%;
       }
       .portfolio-layer a i {
         font-size: 2rem;
         color: var(--second-bg-color);
       }
       .contact h2 {
         margin-bottom: 3rem;
       }
       .contact form {
         max-width: 70rem;
         margin: 1rem auto;
         text-align: center;
         margin-bottom: 3rem;
       }
       .contact form .input-box {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
       }
       .contact form .input-box input ,
         .contact form textarea {
           width: 100%;
           padding: 1.5rem;
           font-size: 1.6rem;
           color: var(--text-color);
           background: var(--second-color);
           border-radius: .8rem;
           margin: .7rem 0;
           border: transparent;
         }
         .contact form .input-box input {
           width: 49%;
         }
         .contact form textarea {
           resize: none;
         }
         .contact form .btn {
           margin-top: 2rem;
           cursor: pointer;
         }
      
   











@media(max-width: 1850px){
   header{
      padding: 15px 8%;
      transition: .2s;
   }
   section{
      padding: 0 8%;
      transition: .2s;
   }
   .share{
      left: 8%;
      transition: .2s;
   }
}
@media(max-width: 1370px){
   header{
      padding: 15px 4%;
      transition: .2s;
   }
   section{
      padding: 0 4%;
      transition: .2s;
   }
   .share{
      left: 4%;
      transition: .2s;
   }
   :root{
      --big-font: 5.5rem;
      --p-font: 1rem;
      transition: .2s;
   }
}
@media(max-width: 1020px){
   .navbar a{
      margin: 0 15px;
   }
   :root{
      --big-font: 5rem;
      --p-font: 1rem;
      transition: .2s;
   }
}
@media(max-width: 950px){
   .share{
      display: none;
   }
   section{
      padding: 70px 4%;
   }
   header{
      padding: 11px 4%;
      background: #2d2d2d;
   }
   .home{
      height: auto;
      display: flex;
      flex-wrap: wrap;
   }
   .home-text{
      order: 2;
   }
   .home-img{
      margin: auto;
      height: auto;
      width: auto;
   }
   .home-img img{
      max-width: 450px;
      width: 100%;
      height: auto;
   }
}
@media(max-width: 850px){
   .navbar{
      position: absolute;
      width: 100%;
      height: 100vh;
      padding: 40px 50px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      background: #2d2d2d;
      transition: all 0.4s ease-in-out;
   }
   .navbar a{
      display: block;
      color: #c3c3c3;
      padding: 0px;
      margin: 0px 0px 40px 0px;
      font-size: 2rem;
      font-weight: 400;
   }
   .navbar.open{
      left: 0;
   }
}
@media(max-width: 500px){
   :root{
      --big-font: 4rem;
      --p-font: 15px;
      transition: .2s;
   }
   .btn{
      padding: 9px 28px;
   }
}
@media (max-width: 991px) {
 
 
   .services {
     padding-bottom: 7rem;
   }
   .portfolio {
     padding-bottom: 7rem;
   }
   .contact {
     min-height: auto;
   }
   .footer {
     padding: 2rem 3%;
   }
  }
 @media (max-width: 768px) {
   #menu-icon {
     display: block;
   }
}









.home-img img{
   animation: imgg 2s ease-in-out infinite;
   animation-delay: 2s;
}
@keyframes imgg{
   0%{
      transform: translateY(0);
   }
   50%{
      transform: translateY(-22px);
   }
   100%{
      transform: translateY(0);
   }
}
.about-img img{
   animation: imgg 2s ease-in-out infinite;
   animation-delay: 2s;
}
@keyframes imgg{
   0%{
      transform: translateY(0);
   }
   50%{
      transform: translateY(-22px);
   }
   100%{
      transform: translateY(0);
   }
}